@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1C1C1E;
}

.landingImage {
    -webkit-filter: brightness(70%);
	filter: brightness(70%);
    z-index: 900;
    transition: all 0.3s ease;
}

.landingImage:hover { 
    -webkit-filter: brightness(85%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	filter: brightness(85%);
    z-index: 900;
    transform: scale(1.1);
}

.landingText {
    color: white;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: 28vw;
    margin: 10px;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #dadada;
    border-color: #dadada;
  }
  
  .pagination button.active {
    font-weight: 900;
    background: #1C1C1E;
    color: #dadada;
  }